body{
    background-color: rgb(10, 239, 255)
} 
header{
    color: #2159c8;
    background-color: greenyellow;
    font-size: 75px;
    font-style: italic;
    font-family:cursive;
    width: 600px;  
}
.Deals{
    align-items: center; 
    width: 15vw;
    text-align: center;
    font-size: 50;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:500;
}
.sale{
    text-align: right;
    font-size: 20px;
}
.Link{
    text-align: right;
    font-size: 150px;
}
.menu{
    text-align: left;
    
    
    font-size: 75px;
    width: 100px;
    height:500px;
}
.not{
    position: relative;
    border: transparent;
    
    font-size: 50px;
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 5vw;
    margin-left: 15vw;

}
.car img{
    position:fixed;
    border:black;
    
    height: 300px;
    margin:5vw;
    margin-left:35vw;
    margin-top: 1vh;
}
.four img{
    position:absolute;
    border:black;
    height:168px;
    margin:0vw;
    margin-left: 70vw;
}

@media(max-width: 800px){
    .callout{
        width: 82vw;
        height: 82vw;
        font-size: 22vw;
    }
}